<div class="content-wrapper pb-0">
    <div class="card">
        <div class="card-body px-0 overflow-auto">
            <h4 class="card-title pl-4"><%= locals.title %></h4>
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr>
                        <th>Game</th>
                        <th>Publisher</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% locals.game_instance_list.forEach((gameInstance) => { %>
                        <tr>
                            <td>
                                <a href="<%= gameInstance.url %>" class="nav-link text-black">
                                    <p class="mb-0 font-weight-medium"><%= gameInstance.game.name %></p>
                                </a>
                            </td>
                            <td>
                                <a href="<%= gameInstance.url %>" class="nav-link text-black">
                                    <p class="mb-0 font-weight-medium"><%= gameInstance.publisher %></p>
                                </a>
                            </td>
                            <td>
                                <% if (gameInstance.status) { %>
                                    <div class="badge badge-inverse-<%= gameInstance.status === 'InStock' ?
                                            'success' : gameInstance.status === 'Reserved' ?
                                                    'warning' : 'danger' %> ">
                                        <%= gameInstance.status %>
                                    </div>
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>