<div class="content-wrapper pb-0">
    <div class="card card-invoice">
        <div class="card-body">
            <h4 class="card-title pb-3"><%= locals.title %></h4>
            <div class="border-bottom mb-3">
                <p><strong>Game: </strong><%= locals.game_instance.game.name %></p>
            </div>
            <div class="border-bottom mb-3">
                <p><strong>Publisher: </strong><%= locals.game_instance.publisher %></p>
            </div>
            <div class="border-bottom mb-3 pb-3">
                <div>
                    <strong>Status: </strong>
                    <div class="badge badge-inverse-<%= locals.game_instance.status === 'InStock' ?
                            'success' : locals.game_instance.status === 'Reserved' ?
                                    'warning' : 'danger' %> ">
                        <%= locals.game_instance.status %>
                    </div>
                </div>
            </div>
            <div class="border-bottom mb-3">
                <p><strong>Number In Stock: </strong><%= locals.game_instance.number_in_stock %></p>
            </div>
            <div class="border-bottom mb-3">
                <p><strong>Price: </strong>$<%= locals.game_instance.price %></p>
            </div>
        </div>
    </div>
</div>
